{% extends "blog/base.html" %}
{% load static %}
{% block 标题 %}首页{% endblock 标题 %}
{% block 关于高亮 %}active{% endblock 关于高亮 %}
{% block 关于高亮1 %}active{% endblock 关于高亮1 %}
{% if 博客 %}
    {% block 数量%}{{ 博客.count}}{% endblock 数量%}
{% endif %}

{% block 主体 %}
  <div class="about-content">
    <div class="w1000">
      <div class="item info">
        <div class="title">
          <h3>我的介绍</h3>
        </div>
        <div class="cont">
          <img src="{% static '/res/img/xc_img1.jpg' %}">
          <div class="per-info">
            <p>
              <span class="name">刘江</span><br />
              <span class="age">22岁</span><br />
              <span class="Career">目前在读</span><br />
              <span class="interest">爱好阅读,打游戏</span>
            </p>
          </div>
        </div>
      </div>
      <div class="item tool">
        <div class="title">
          <h3>我的技能</h3>
        </div>
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
              <div class="cont-box">
                <img src="{% static '/res/img/gr_img2.jpg' %}">
                <p>80%</p>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
              <div class="cont-box">
                <img src="{% static '/res/img/gr_img3.jpg' %}">
                <p>80%</p>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
              <div class="cont-box">
                <img src="{% static '/res/img/gr_img4.jpg' %}">
                <p>80%</p>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm3 layui-col-md3">
              <div class="cont-box">
                <img src="{% static '/res/img/gr_img5.jpg' %}">
                <p>80%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item contact">
        <div class="title">
          <h3>联系方式</h3>
        </div>
        <div class="cont">
          <img src="{% static '/res/img/erweima.jpg' %}">
          <div class="text">
            <p class="WeChat">微信：<span>1234567890</span></p>
            <p class="qq">qq：<span>123456789</span></p>
            <p class="iphone">电话：<span>123456789</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock 主体 %}